#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            buttons = <
                &mkp LCLK  &mkp RCLK  &mkp MCLK  &mkp FWD  &mkp BACK
            >;
        };
    };

    sensors {
        compatible = "zmk,sensors";
        sensors = <&pmw3360>;
    };

    chosen {
        zmk,pointing-device = &pmw3360;
    };
};

&encoder {
    status = "okay";
};
